<!DOCTYPE html>
<html lang="en" ng-app="AJAXPollApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!-- load libraries -->
		<script src="/angular/angular.js"></script>

		<!-- load application -->
		<link rel="stylesheet" href="/style.css">
		<script src="/poll.js"></script>
	</head>
	<body ng-controller="AJAXPollCtrl as ajaxPollCtrl">

		<h1>Counter: {{ ajaxPollCtrl.counter }}</h1>

		<br>

		<button type="button" ng-click="ajaxPollCtrl.start()">Start</button>
		<button type="button">Stop</button>

	</body>
</html>
