<!DOCTYPE html>
<html lang="en" ng-app="SSEChatApp">
	<head>
		<meta charset="UTF-8">
		<title></title>

		<!-- load libraries -->
		<script src="/angular/angular.js"></script>

		<!-- load application -->
		<link rel="stylesheet" href="/style.css">
		<script src="/sse.js"></script>

	</head>
	<body ng-controller="SSEChatCtrl as sseChatCtrl">

		<h1>Server Sent Events</h1>

		<table>
			<tr>
				<td colspan="2">
					<textarea cols="50" rows="10" readonly ng-model="sseChatCtrl.messages"></textarea>
				</td>
			</tr>
			<tr>
				<td>Message:</td>
				<td>
					<input type="text" placeholder="Your message" ng-model="sseChatCtrl.text">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" ng-click="sseChatCtrl.send()">Send</button>
				</td>
			</tr>
		</table>
		
	</body>
</html>
